.button{
    border-radius: 10px;
}

.prompt-input{
    border: none;
    background-color: inherit;
}

.prompt-input:focus{
    border: none;
    outline: none;
    background-color: inherit;
}

.prompt-input-container{
    background-color: #444444;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
}