.submit-button {
    outline: none;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    color: black;
    font-size: 15px;
    font-weight: 700;
    width: 50px;
    height: 40px;
    margin-top: 10px;
    align-self: center;
    transition: background-color 0.2s ease;
    position: absolute;
    right: 10px;
    bottom: 30px;
    transform: translateY(+50%);
}

.submit-button:hover {
    background-color: #555555;
    color: white;

}

.prompt-input {
    border: none;
    background-color: inherit;
    color: white;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    resize: none;
    overflow: hidden;
}

.prompt-input:focus {
    outline: none;
}

.prompt-input-container {
    position: fixed;
    width: 500px;
    bottom: 40px;
    left: 50%;
    background-color: #252525;
    padding: 30px;
    border-radius: 10px;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
}

body{
    background-color: #202020;
}

.User{
    background-color: #353535;
    color: white;
    border-radius: 10px;
    margin-left: 800px;
    margin-bottom: 20px;
    padding:10px;
    font-family: "Segoe UI","Roboto", sans-serif;
}

.Agent{
    background-color: #2a2a2a;
    color: #e8e8e8;
    border-radius: 10px;
    margin-right: 800px;
    margin-bottom: 20px;
    padding:10px;
    font-family: "Segoe UI","Roboto", sans-serif;
}

.messages{
    padding-bottom: 180px;
}

.choice{
    background-color: #353535;
    padding: 2px;
    font-size:10px;
    width: 100px;
    border-radius: 10px;
    border: none;
    margin: 2px;
    color: white;
}

.choice:hover{
    background-color: #2c2c2c;
}

.choice.active{
    background-color: #2c2c2c;
}